table.jumah, table.prayertime { width: 100%; }
.pt_date, .pt_hijri_date { display: inline-block; }
.pt_hijri_date { float: right; }
.prayer_table td.prayer { color: #000; }
.prayer_table .iqama { color: #AAA; }
.prayer_table { width: 100%; }
.prayer_table tr:nth-child(2n) td { background-color: #F8F7F4; }
.prayer_table .today td { background-color: #FBDB99 !important; }

.jumah_date td { border: none; }
.with-maghrib-offset .maghrib { display: none; }